# Environment variables
.env
.env.*
!.env.example

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# ML data
data/processed/*

!data/processed/.gitkeep

# IDE
.vscode/
.idea/

local.settings.json